.navbar {
  transition: transform 0.3s ease-in-out;
  background-color: black; /* Change the navbar background color to black */
}

.navbar .navbar-nav {
  display: flex !important;
  flex-direction: row !important;
}
