.profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.container {
  margin-top: 2rem;
}

.profile-img {
  transition: box-shadow 0.3s ease-in-out;
}

.profile-img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}