<div class="container my-5">
    <h2>Our Unique Value</h2>
    <p class="large-paragraph">
        So what separates GlaucoSolve from the rest of the IOP monitors? We hold the first wearable technology design capable of continuous IOP monitoring, with a significantly cheaper price point and remote physician monitoring feature. As you can see in the comparison table below, our product outshines each alternative IOP monitor in multiple key factors and is over five times cheaper than the current cheapest option.
    </p>
    <div class="text-center mt-4">
      <img src="assets/table-1.png" class="img-fluid" alt="Table 1">
    </div>
</div>