<div id="our-technology" class="container my-5">
    <h2>Our Technology</h2>
    <div class="row">
      <div class="col-md-8">
        <p class="large-paragraph">
          Our innovation, GlaucoSolve Glasses is a non-invasive, wearable, cost-effective, and remote monitoring solution that uses ultrasound transducers, receivers, and Arduino modules to monitor IOP. By applying acoustic force to the cornea and analyzing the reflected signal, we can compute various ultrasound parameters and correlate them to get the patient’s eye pressure. Realtime data will be sent to a mobile app allowing physicians to monitor long-term glaucoma progression remotely and alerting patients on when they should apply eye drops, mitigating optic nerve damage.
        </p>
        <p class="large-paragraph">
          Moreover, we plan to develop a model with collected data, offering AI insights into glaucoma diagnosis. By learning nuanced IOP patterns in patients with all stages of glaucoma, it allows our model to help ophthalmologists spot signs of glaucoma and predict patients’ future IOP trajectory to evaluate the effectiveness of treatments just days after prescription.
        </p>
      </div>
      <div class="col-md-4">
        <div class="text-center mb-4">
          <h4>Video Explanation</h4>
          <div class="video-container">
            <video controls class="w-100 h-100" style="object-fit: contain;">
              <source src="assets/video-explanation.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <div class="text-center">
          <h4>Technology Schematics</h4>
          <img src="assets/technology-schematics.png" class="img-fluid mb-3" alt="Technology Schematics">
        </div>
      </div>
    </div>
    
    <div class="row mt-4">
      <div class="col-md-4 text-center">
        <h4>3D Prototype Model</h4>
        <img src="assets/3D-prototype-model.png" class="img-fluid mb-3" alt="3D Prototype Model">
      </div>
      <div class="col-md-4 text-center">
        <h4>Physical Prototype</h4>
        <img src="assets/physical-prototype.png" class="img-fluid mb-3" alt="Physical Prototype">
      </div>
      <div class="col-md-4 text-center">
        <h4>Mobile App</h4>
        <img src="assets/mobile-app.png" class="img-fluid mb-3" alt="Mobile App">
      </div>
    </div>
  </div>