<div id="references" class="container my-5">
    <h2>References</h2>
    <ul class="references-list">
      <li>
        Baker, L., Mansouri, K., Quigley, H. A., & Sit, A. J. (2016). Update on 24-Hour IOP Monitoring. American Academy of Ophthalmology. <a href="https://www.aao.org/eyenet/article/update-on-24-hour-iop-monitoring" target="_blank">https://www.aao.org/eyenet/article/update-on-24-hour-iop-monitoring</a>
      </li>
      <li>
        Enabnit, A. (2023, July 10). Applanation Tonometry: Procedure and Uses. DoveMed. <a href="https://www.dovemed.com/health-topics/focused-health-topics/applanation-tonometry-procedure-and-uses" target="_blank">https://www.dovemed.com/health-topics/focused-health-topics/applanation-tonometry-procedure-and-uses</a>
      </li>
      <li>
        Farhood, Q. K. (2012, December 27). Comparative evaluation of intraocular pressure with an air-puff tonometer versus a Goldmann applanation tonometer. NIH. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3534293/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3534293/</a>
      </li>
      <li>
        Goel, M. (2010, September 3). Aqueous Humor Dynamics: A Review - PMC. NCBI. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3032230/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3032230/</a>
      </li>
      <li>
        Hg, I., Hashimoto, M., & Hung, J.-H. (2021, November 4). Description. EyeKnow. <a href="https://2020.igem.org/Team:NCKU_Tainan/Description" target="_blank">https://2020.igem.org/Team:NCKU_Tainan/Description</a>
      </li>
      <li *ngIf="showAllReferences">
        Jonas, J. B. (2018, May 17). Intraocular pressure and its normal range adjusted for ocular and systemic parameters. The Beijing Eye Study 2011. NCBI. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5957383/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5957383/</a>
      </li>
      <li *ngIf="showAllReferences">
        Kalayoglu, M. V. (2007, November 20). 180 Years of Evolution of the Tonometer. OphthalmologyWeb. <a href="https://www.ophthalmologyweb.com/Tech-Spotlights/26468-180-Years-of-Evolution-of-the-Tonometer/" target="_blank">https://www.ophthalmologyweb.com/Tech-Spotlights/26468-180-Years-of-Evolution-of-the-Tonometer/</a>
      </li>
      <li *ngIf="showAllReferences">
        Kaleem, M. (n.d.). Glaucoma. Johns Hopkins Medicine. <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/glaucoma" target="_blank">https://www.hopkinsmedicine.org/health/conditions-and-diseases/glaucoma</a>
      </li>
      <li *ngIf="showAllReferences">
        Kendall, J., & Faragher, J. (2007, October 10). Ultrasound-guided central venous access: A homemade phantom for simulation. ResearchGate. <a href="https://www.researchgate.net/publication/5909055_Ultrasound-guided_central_venous_access_A_homemade_phantom_for_simulation" target="_blank">https://www.researchgate.net/publication/5909055_Ultrasound-guided_central_venous_access_A_homemade_phantom_for_simulation</a>
      </li>
      <li *ngIf="showAllReferences">
        Lee, H., Jeong, E., Sung, J., Choi, B., & Jeong, J. (2021, March 7). An Intraocular Pressure Measurement Technique Based on Acoustic Radiation Force Using an Ultrasound Transducer: A Feasibility Study. NIH. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7961774/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7961774/</a>
      </li>
      <li *ngIf="showAllReferences">
        Martínez, J. (2022, October 3). Tonometry Technology Growing in Leaps and Rebounds. The Ophthalmologist. <a href="https://theophthalmologist.com/business-profession/dr-martinez-de-la-casa-on-his-use-of-icare-rebound-tonometers" target="_blank">https://theophthalmologist.com/business-profession/dr-martinez-de-la-casa-on-his-use-of-icare-rebound-tonometers</a>
      </li>
      <li *ngIf="showAllReferences">
        National Glaucoma Research. (2021, July 14). Glaucoma: Facts & Figures. BrightFocus. <a href="https://www.brightfocus.org/glaucoma/article/glaucoma-facts-figures" target="_blank">https://www.brightfocus.org/glaucoma/article/glaucoma-facts-figures</a>
      </li>
      <li *ngIf="showAllReferences">
        Palko, J., & Realini, T. (2023, November 5). Chapter 9 - The role of circadian and extrinsic intraocular pressure fluctuations. ScienceDirect. <a href="https://www.sciencedirect.com/science/article/pii/B9780323884426000236" target="_blank">https://www.sciencedirect.com/science/article/pii/B9780323884426000236</a>
      </li>
      <li *ngIf="showAllReferences">
        Ruberto, C., Stefano, A., & Comelli, A. (2022, October 8). Using an Ultrasound Tissue Phantom Model for Hybrid Training of Deep Learning Models for Shrapnel Detection. NIH. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9604600/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9604600/</a>
      </li>
      <li *ngIf="showAllReferences">
        Salvetat, M., Zeppieri, M., Miani, F., Tosoni, C., Parisi, L., & Brusini, P. (2011, May 25). Comparison of iCare tonometer and Goldmann applanation tonometry in normal corneas and in eyes with automated lamellar and penetrating keratoplasty. NIH. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3171271/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3171271/</a>
      </li>
      <li *ngIf="showAllReferences">
        Susanna, R., Moraes, C., Cioffi, G., & Ritch, R. (2015, March 9). Why Do People (Still) Go Blind from Glaucoma? NIH. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4354096/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4354096/</a>
      </li>
      <li *ngIf="showAllReferences">
        Usgaonkar, U., Naik, R., & Shetty, A. (2023, November 5). The economic burden of glaucoma on patients. Indian Journal of Ophthalmology. <a href="https://journals.lww.com/ijo/fulltext/2023/02000/the_economic_burden_of_glaucoma_on_patients.50.aspx" target="_blank">https://journals.lww.com/ijo/fulltext/2023/02000/the_economic_burden_of_glaucoma_on_patients.50.aspx</a>
      </li>
      <li *ngIf="showAllReferences">
        Zeppieri, M., & Gurnani, B. (2023, June 11). Applanation Tonometry. NIH. <a href="https://www.ncbi.nlm.nih.gov/books/NBK582132/" target="_blank">https://www.ncbi.nlm.nih.gov/books/NBK582132/</a>
      </li>
      <li *ngIf="showAllReferences">
        Zhang, J., Zhang, Y., & Li, Y. (2017, May 31). Correlation of IOP with Corneal Acoustic Impedance in Porcine Eye Model. BioMed Research International. <a href="https://www.hindawi.com/journals/bmri/2017/2959717/" target="_blank">https://www.hindawi.com/journals/bmri/2017/2959717/</a>
      </li>
    </ul>
    <button (click)="toggleReferences()" class="btn btn-primary mt-3">{{ showAllReferences ? 'Show Less' : 'Show More' }}</button>
  </div>