<div class="container my-5">
    <h2>Testimonials</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Dr. Sewa Ram Singal</h5>
            <h6 class="card-subtitle mb-2 text-muted">General Practitioner at Humber River Hospital and Trillium Health Partners Credit Valley Hospital</h6>
            <p class="card-text">"Glaucoglasses would be very beneficial due to its usability from the comfort of one's home, reducing the need of going to an eye doctor in person.”</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Dr. Shaffie Baidwal Gupta</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ophthalmologist at Fortis Hospital</h6>
            <p class="card-text">"It is great to be thinking in this direction, as glaucoma is indeed a blinding disease."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Anonymous</h5>
            <h6 class="card-subtitle mb-2 text-muted">General Practitioner</h6>
            <p class="card-text">"The tonometer is expensive and non-portable, so if these glasses are validated, I think this would be very helpful. It's cost is minimal, while it's benefits are huge!”
            </p>
          </div>
        </div>
      </div>
    </div>
</div>