<div id="science-behind" class="container my-5">
    <h2>The Science Behind GlaucoGlasses</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="float-right ml-3 mb-2">
          <img src="assets/figure-1.png" class="img-fluid" alt="Figure 1">
          <p class="small-caption"><u>Figure 1: Scientific concept of our technology based on acoustic force induced corneal deformation.</u></p>
        </div>
        <p class="large-paragraph">
          Widely used in elasticity imaging, acoustic radiation force from ultrasound waves induces physical deformation in tissues - elucidating data about the elasticity of the tissue. Applying a known magnitude of acoustic force to the cornea of the eye will similarly enable the measurement of corneal deformation, as shown in Figure 1, offering insights into elasticity, which is known to be correlated to IOP. Four variables will be experimentally extracted from the reflected ultrasound signal, which will correlate to IOP. These four parameters are corneal deformation, flight time, amplitude, and acoustic impedance.
        </p>
        <p class="large-paragraph">
          <b>Corneal Deformation:</b> The proposed technique to enable the calculation of the final corneal deformation (δ), which is the amount the cornea displaces from its initial position as a result of acoustic radiation force, is the fact that it is the absolute difference between the deformation due to acoustic radiation force and deformation due to IOP. For the average human eye, δ = 38999.76 x (ARFP/IOPT) - 1116.06, where ARFP is the pressure from acoustic radiation force & IOPT is the true IOP in Pascals. Thus, corneal deformation should be inversely proportional to IOP, such that higher IOP is correlated with lower corneal deformation, and vice-versa.
        </p>
        <p class="large-paragraph">
          <b>Time of flight:</b> The reflected ultrasound beam from the cornea has two paths: one under normal conditions (black beam, Figure 1) and another during corneal deformation (red beam, Figure 1). Due to the longer distance traveled by the red ultrasound beam, it is expected that the time of flight will be higher during corneal deformation - inversely correlating to IOP.
        </p>
        <p class="large-paragraph">
          <b>Amplitude:</b> When ultrasonic waves traverse through the air, energy losses, known as attenuation, occur due to scattering, absorption, and density differences at material interfaces. Greater corneal deformation results in longer wave travel, increased acoustic force loss to air, and diminished amplitude, which is the maximum magnitude of received signals, which is expected to be proportional to IOP.
        </p>
        <p class="large-paragraph">
          <b>Acoustic Impedance:</b> Acoustic Impedance is the resistance against ultrasound wave propagation through tissue, which results from the density of tissue and increases with higher IOP. It is calculated using the equation A1/A0 = (Z1 - Z0)/(Z1 + Z0), where A0 = a known constant amplitude of signal emitted, A1 = amplitude of signal received, Z0 = acoustic impedance of aqueous humor inside the eye ≈ 1.48 MPa, and Z1 = acoustic impedance of the cornea.
        </p>
      </div>
    </div>
</div>