#product-showcase {
    background-color: black;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .display-1 {
    font-size: 6rem;
  }
  
  .glauco {
    color: #a569bd;
  }
  
  .solve {
    color: #2e86c1;
  }
  
  @media (min-width: 768px) {
    .display-1 {
      font-size: 10rem;
    }
}

.container {
    margin-top: 2rem;
}
  